.educationWrapper{
    width: 100%;
    margin: auto ;
    display: flex;
    color:white;
    flex-direction: column;
    background-image: url("../../../public/Images/backgroundImage.png");
    h1{
        color: #2c2c6c;
    }
    // @keyframes slide-in {
    //     0% {
    //       transform: translateX(-100%);
    //     }
    //     100% {
    //       transform: translateX(0);
    //     }
    //   }
    //   animation: slide-in 3s ease;
    .cardsWrapper{
        gap: 30px;
        display: flex;
        padding: 2% 5%;
        font-weight: 500;
        .school{
            width: 40%;
            display: flex;
            font-weight: 600;
            line-height: 23px;
            padding: 60px 20px;
            border-radius: 15px;
            flex-direction: column;
            background-color: #06662a;
            border: 2px solid hsl(54, 99%, 54%);
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                padding: 10px;
                color: white;
                cursor: pointer;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                background: transparent;
                border: 2px solid hsl(54, 99%, 54%);
            }
            &:hover{
                box-shadow: #06662a 3px 3px 8px;
            }
        } 
        .college{
            width: 40%;
            display: flex;
            font-weight: 600;
            line-height: 23px;
            padding: 60px 20px;
            border-radius: 15px;
            flex-direction: column;
            background-color: #06662a;
            border: 2px solid hsl(54, 99%, 54%); 
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                padding: 10px;
                color: white;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                background: transparent;
                border: 2px solid hsl(54, 99%, 54%);
                cursor: pointer;
            }
            &:hover{
                box-shadow: #06662a 3px 3px 8px;
            }
        }
        .university{
            width: 40%;
            display: flex;
            padding: 60px 20px;
            font-weight: 600;
            line-height: 23px;
            border-radius: 15px;
            flex-direction: column;
            background-color: #06662a;
            border: 2px solid hsl(54, 99%, 54%);
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                color: white;
                background: transparent;
                border: 2px solid hsl(54, 99%, 54%);
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                font-size: 16px;
                padding: 10px;
                cursor: pointer;
            }
            &:hover{
                box-shadow: #06662a 3px 3px 8px;
            }
        }
    }
}