.cardsWrapper {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-in, transform 1s ease-in;
    background-image: url("../../../public/Images/backgroundImage.png");
  }

.educationWrapper{
    width: 100%;
    margin: auto ;
    display: flex;
    color:white;
    flex-direction: column;
    background-image: url("../../../public/Images/backgroundImage.png");
    h1{
        color: #2c2c6c;
    }
    .cardsWrapper.visible{
        opacity: 1;
        transform: translateX(0);
        gap: 30px;
        display: flex;
        padding: 2% 4%;
        font-weight: 500;
    }
}