@media(max-width: 450px) {
    .card{
        width: 50%;
        display: flex;
        font-weight: 600;
        line-height: 8px;
        position: relative;
        padding: 40px 20px;
        border-radius: 15px;
        line-height: 1;
        color:black;
        font-weight: bold;
        flex-direction: column;
        border: 3px solid hsl(54, 99%, 54%);
        button{
            width: 60%;
            height: 15%;
            margin: auto;
            padding: 10px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
            font-weight: bolder;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            background: transparent;
            color:#2c2c6c;
            border: none;
        }
        img{
            width: 100%;
            height: 70%;
            top: 0px;
        }
        &:hover{
            box-shadow: 3px 3px 8px #2c2c6c;
            border-color: #2c2c6c;
        }
    }  
    }
    @media (min-width: 451px) and (max-width: 768px){
        .card{
            width: 40%;
            display: flex;
            font-weight: 600;
            line-height: 8px;
            position: relative;
            padding: 40px 20px;
            border-radius: 15px;
            line-height: 1.5;
            color:black;
            font-weight: bold;
            flex-direction: column;
            border: 3px solid hsl(54, 99%, 54%);
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                padding: 10px;
                cursor: pointer;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                background: transparent;
                color:#2c2c6c;
                border: none;
            }
            img{
                width: 100%;
                height: 70%;
                top: 0px;
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
    }
    @media (min-width: 769px) and (max-width: 2560px){
        .card{
            width: 40%;
            display: flex;
            line-height: 2px;
            font-weight: 600;
            line-height: 8px;
            color:black;
            font-weight: bold;
            position: relative;
            padding: 40px 20px;
            border-radius: 15px;
            flex-direction: column;
            border: 3px solid #ffd15c;
            h2{
                color: #ff4c60;
            }
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                padding: 10px;
                cursor: pointer;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bolder;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                background: transparent;
                color:#2c2c6c;
                border: none;
            }
            img{
                width: 100%;
                height: 70%;
                top: 0px;
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
    }