.frontend{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 2s ease-in, transform 1.5s ease-out;
  }
.backend{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-in, transform 1.5s ease-out;
  }
.others{
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 2s ease-in, transform 1.5s ease-out;
  }
@media(max-width: 450px){
.skillsWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    color: black;
    background-color: whitesmoke;
    h1{
        color: #2c2c6c;
        font-size:x-large;
    }
    .skills{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        padding: 30px 45px; 
        .frontend.visible{
            opacity: 1;
            width: 50%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0);
            border: 3px solid hsl(54, 99%, 54%);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
        .backend.visible{
            opacity: 1;
            width: 50%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0); 
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
        .others.visible{
            opacity: 1;
            width: 50%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0);
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
    }
}
}

@media(min-width: 451px) and (max-width: 768px){
.skillsWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    color: black;
    background-color: whitesmoke;
    h1{
        color: #2c2c6c;
    }
    .skills{
        gap: 10px;
        display: flex;
        font-weight: 500;
        padding: 30px 45px; 
        .frontend.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0);
            border: 3px solid hsl(54, 99%, 54%);
            ul{
                padding-left: 10px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
              box-shadow: 3px 3px 8px #2c2c6c;
              border-color: #2c2c6c;
            }
        }
        .backend.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0); 
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 10px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
              box-shadow: 3px 3px 8px #2c2c6c;
              border-color: #2c2c6c;
            }
        }
        .others.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            background-color: white;
            transform: translateX(0);
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 10px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
              box-shadow: 3px 3px 8px #2c2c6c;
              border-color: #2c2c6c;
            }
        }
    }
}
}

@media(min-width: 769px) and (max-width: 2560px){
.skillsWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    color: black;
    background-color: whitesmoke;
    h1{
        color: #2c2c6c;
    }
    .skills{
        gap: 10px;
        display: flex;
        font-weight: 500;
        padding: 30px 45px; 
        .frontend.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            transform: translateX(0);
            background-color: white;
            border: 3px solid hsl(54, 99%, 54%);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
            box-shadow: 3px 3px 8px #2c2c6c;
            border-color: #2c2c6c;
        }
        }
        .backend.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            transform: translateX(0); 
            background-color: white;
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
                box-shadow: 3px 3px 8px #2c2c6c;
                border-color: #2c2c6c;
            }
        }
        .others.visible{
            opacity: 1;
            width: 40%;
            display: flex;
            padding: 20px;
            margin-left: 40px;
            border-radius: 20px;
            flex-direction: column;
            transform: translateX(0);
            background-color: white;
            border: 3px solid hsl(54, 99%, 54%);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            ul{
                padding-left: 20px;
                list-style-type: none;
                li{
                    margin-left: 0px;
                }
            }
            &:hover{
              box-shadow: 3px 3px 8px #2c2c6c;
              border-color: #2c2c6c;
            }
        }
    }
}
}