.skillsWrapper{
    width: 100%;
    margin: auto;
    color:white;
    display: flex;
    flex-direction: column;
    background-image: url("../../../public/Images/backgroundImage.png");
    h1{
        color: #2c2c6c;
    }
    .skills{
        display: flex;
        font-weight: 500;
        padding: 30px 45px;
        border-radius: 15px; 
        border: 2px solid hsl(54, 99%, 54%);
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .frontend{
           width: 40%;
           display: flex;
           margin-left: 60px;
           flex-direction: column;
        }
        .backend{
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        .others{
            width: 40%;
            display: flex;
            flex-direction: column;
        }
    }
}