.aboutWrapper{
    width: 100%;
    display: flex;
    color:white;
    padding: 50px 0px;
    background-image: url("../../../public/Images/backgroundImage.png");
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .leftSection{
        width: 40%;
        display: flex;
        padding: 20px;
        margin-left: 10%;
        color:hsl(54, 99%, 54%);
        flex-direction: column;
        justify-content: center;
        font-family: "Rubik",sans-serif;
        p{
            width: 80%;
            font-weight: 700;
            font-size: larger;
        }
        h1{
            font-weight: 700;
            color: #2c2c6c;
        }
        
    }
    .rightSection{
        width: 25%;
        display: flex;
        flex-direction: column;
        line-height: 0%;
        .progressBar1{
          width: 100%;
          height: 8px;
          display: flex;
          overflow: hidden;
          border-radius: 10px;
          background-color: rgb(238, 236, 236);
          .progress{
              width: 90%;
              height: 100%;
              background-color:cornflowerblue;
            }
        }
        .progressBar2{
            width: 100%;
            height: 8px;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            background-color: rgb(238, 236, 236);
            .progress{
                width: 80%;
                height: 100%;
                background-color:rgb(245, 232, 50);
              }
          }
          .progressBar3{
            width: 100%;
            height: 8px;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            background-color: rgb(238, 236, 236);
            .progress{
                width: 60%;
                height: 100%;
                background-color:rgb(13, 172, 7);
              }
          }
    }
}