.leftSection{
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
.progressBar1{
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 1s ease-in, transform 1s ease;
}
.progressBar2{
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 1s ease-in, transform 1s ease;
}
.progressBar3{
    opacity: 0;
    transform: translatey(50px);
    transition: opacity 1s ease-in, transform 1s ease;
}
.aboutWrapper{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 50px 0px;
    color:rgb(61, 55, 55);
    .leftSection.visible{
        width: 40%;
        opacity: 1;
        display: flex;
        padding: 20px;
        margin-left: 10%;
        color:hsl(54, 99%, 54%);
        flex-direction: column;
        justify-content: center;
        transform: translateX(0);
        font-family: "Rubik",sans-serif;
        p{
            width: 80%;
            font-weight: 700;
            font-size: larger;
        }
        h1{
            font-weight: 700;
            color: #2c2c6c;
        }
        
    }
    .rightSection{
        width: 25%;
        display: flex;
        line-height: 0%;
        flex-direction: column;
        .progressBar1.visible{
            width: 100%;
            opacity: 1;
            height: 8px;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            transform: translateY(0);
            background-color: rgb(238, 236, 236);
          .progress{
              width: 90%;
              height: 100%;
              background-color:cornflowerblue;
            }
        }
        .progressBar2.visible{
            width: 100%;
            height: 8px;
            display: flex;
            opacity: 1;
            overflow: hidden;
            border-radius: 10px;
            transform: translateY(0);
            background-color: rgb(238, 236, 236);
            .progress{
                width: 80%;
                height: 100%;
                background-color:rgb(245, 232, 50);
              }
          }
          .progressBar3.visible{
            width: 100%;
            height: 8px;
            opacity: 1;
            display: flex;
            overflow: hidden;
            border-radius: 10px;
            transform: translateY(0);
            background-color: rgb(238, 236, 236);
            .progress{
                width: 60%;
                height: 100%;
                background-color:rgb(13, 172, 7);
              }
          }
    }
}