.homeWrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    color:rgb(61, 55, 55);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    // background-image: url("../../../public/Images/backgroundImage.png");
    .leftSection{
        width: 30%;
        display: flex;
        flex-direction: column;
        h1{
            color: #2c2c6c;
        }
    .writtenText{
        font-size: larger;
        font-weight: bolder ;
        color:hsl(54, 99%, 54%);
    }
    .linksImages{
        gap: 2%;
        height: 10%;
        display: flex;
        margin-top: 4%;
        cursor: pointer;
        flex-direction: row;
        i{
         color: white;
            &:hover{
                color: hsl(54, 99%, 54%);
            }
        }
        }
    .buttonWrap{
        gap: 20px;
       display: flex;
        button{
            width: 40%;
            color: rgb(61, 55, 55);
            padding: 10px;
            cursor: pointer;
            margin-top: 20px;
            font-size: large;
            font-weight: bold;
            background: transparent;
            border: 2px solid hsl(54, 99%, 54%);
            border-radius: 50px;
            &:hover{
                color:hsl(54, 99%, 54%);
                border-color: hsl(54, 99%, 54%);
            }
        }
    }
    }
    .rightSection{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
            height: 50%;
            border-radius: 20px;
        }
    }
}