.homeWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    height: 80vh;
    border-radius: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #bbc90379, #f6ffc4);
    .leftSection{
        width: 40%;
        display: flex;
        flex-direction: column;
    .writtenText{
        color: rgb(139, 33, 238);
        font-size: larger;
        font-weight: bolder ;
        
    }
    .linksImages{
        gap: 2%;
        height: 10%;
        display: flex;
        margin-top: 4%;
        flex-direction: row;
        i{
         color: black;
            &:hover{
                color: rgb(10, 133, 65);
            }
        }
        }
        button{
            width: 30%;
            color: white;
            border: none;
            background-color: rgb(10, 133, 65);
            margin-top: 20px;
            font-weight: bold;
            border-radius: 50px;
            font-size: large;
            padding: 10px;
            cursor: pointer;
            &:hover{
            font-size: larger;
            background-color:  #cddb0379;
            color: rgb(10, 133, 65);
            border-color: rgb(10, 133, 65);
            }
        }
    }
    .rightSection{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 60%;
            border-radius: 100%;
        }
    }
}