.navbarWrapper{
    width: 100%;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    .navbar{
    width: 30%;
    height: 10vh;
    margin: auto;
    display: flex;
    margin: 2% auto;
    border-radius: 50px;
    background: transparent;
    justify-content: center;
    border: 3px solid hsl(54, 99%, 54%);
    .listComponents{
        gap: 20px;
        display: flex;
        color: white;
        margin-left: 2%;
        font-weight: 900;
        list-style: none;
        font-size: medium;
        flex-direction: row;
        align-items: center;
        li{
            cursor: pointer;
            i{
             color: white;
             &:hover{
                 color: hsl(54, 99%, 54%); ;
            }
            }
            }
    }
}
}