.rightSection{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}
.leftSection{
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

@media (max-width: 425px){
  .contactUsWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 2% 0px;
    flex-direction: column;
    color:rgb(61, 55, 55);
    background-color: rgb(252, 241, 150);
    h1{
      color: #2c2c6c;
      font-size:x-large;
  }
    .wrapper{
      display: flex;
      .leftSection.visible{
      opacity: 1; 
      width: 50%;
      display: flex;
      transform: translateY(0);
      justify-content: center;
     img{
      width: 85%;
     }
    }
    .rightSection.visible{
      opacity: 1;
      width: 30%;
      margin: auto;
      align-items: center;
      justify-content: center;
      transform: translateY(0);
      input{
        color: white;
        font-weight: 500;
      }
      .Email{
        width: 93%;
        width: 90%;
        color: #333;
        padding: 10px;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 20px;
        background: transparent;
        border: 2px solid #2c2c6c;
      }
      .Email:focus{
        outline: none;
        box-shadow: 3px 3px 8px #2c2c6c;
        &:hover{
          box-shadow: 3px 3px 8px #2c2c6c;
        }
      }
      button{
        width: 70%;
        padding: 10px;
        color: black;
        font-size: 12px;
        cursor: pointer;
        margin-top: 10px;
        font-weight: bold;
        border-radius: 50px;
        border: 2px solid #2c2c6c;
        background: transparent;
        &:hover{
          box-shadow: 3px 3px 8px #2c2c6c;
        }
      }
    }
  }
  }
  }


@media (min-width: 426px) and (max-width: 769px){
  .contactUsWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 2% 0px;
    flex-direction: column;
    color:rgb(61, 55, 55);
    background-color: rgb(252, 241, 150);
    h1{
      color: #2c2c6c;
  }
    .wrapper{
      display: flex;
      .leftSection.visible{
      opacity: 1; 
      width: 50%;
      display: flex;
      transform: translateY(0);
      justify-content: center;
     img{
      width: 88%;
     }
    }
    .rightSection.visible{
      opacity: 1;
      width: 35%;
      margin: auto;
      align-items: center;
      justify-content: center;
      transform: translateY(0);
      input{
        color: white;
        font-weight: 500;
      }
      .Email{
        width: 90%;
        width: 93%;
        padding: 10px;
        color: #333;
        font-size: 16px;
        margin-top: 10px;
        border-radius: 20px;
        border: 2px solid #2c2c6c;
        background: transparent;
      }
      .Email:focus{
        outline: none;
        box-shadow: 3px 3px 8px #2c2c6c;
        &:hover{
          box-shadow: 3px 3px 8px #2c2c6c;
        }
      }
      button{
        width: 30%;
        padding: 10px;
        color: black;
        font-size: 14px;
        margin-top: 10px;
        font-weight: bold;
        border-radius: 50px;
        background: transparent;
        border: 2px solid #2c2c6c;
        cursor: pointer;
        &:hover{
          box-shadow: 3px 3px 8px #2c2c6c;
        }
    }
    }
  }
  }
  }

@media (min-width: 769px) and (max-width: 2560px){
.contactUsWrapper{
  width: 90%;
  margin: auto;
  display: flex;
  padding: 2% 0px;
  flex-direction: column;
  color:rgb(61, 55, 55);
  background-color: rgb(252, 241, 150);
  h1{
    color: #2c2c6c;
}
  .wrapper{
    display: flex;
    .leftSection.visible{
    opacity: 1; 
    width: 40%;
    display: flex;
    justify-content: center;
    transform: translateY(0);
   img{
    width: 80%;
   }
  }
  .rightSection.visible{
    opacity: 1;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    input{
      color: white;
      font-weight: 500;
    }
    .Email{
      width: 90%;
      width: 93%;
      padding: 10px;
      font-size: 16px;
      color: #2c2c6c;
      margin-top: 10px;
      border-radius: 20px;
      border: 2px solid #2c2c6c;
      background: transparent;
    }
    .Email:focus{
      outline: none;
      box-shadow: 3px 3px 8px #2c2c6c;
      &:hover{
        box-shadow: 3px 3px 8px #2c2c6c;
      }
    }
    button{
      width: 30%;
      padding: 10px;
      color: black;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
      font-weight: bolder;
      border-radius: 50px;
      background: transparent;
      border: 2px solid #2c2c6c;
      &:hover{
        box-shadow: 3px 3px 8px #2c2c6c;
      }
  }
  }
}
}
}