.cardsWrapper{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
.experienceWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    color:rgb(61, 55, 55);
    flex-direction: column;
    position: -10px;
    h1{
        color: #2c2c6c;
    }
    .cardsWrapper.visible{
        opacity: 1;
        transform: translateX(0);
        gap: 30px;
        display: flex;
        padding: 2% 5%;
        font-weight: 500;
        justify-content: center;
    }
}