.cardsWrapper{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in, transform 1s ease-in;
}
@media (max-width: 425px){
    .experienceWrapper{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color:rgb(61, 55, 55);
        background-color: whitesmoke;
        gap: 5%;
        h1{
            color: #2c2c6c;
            font-size:x-large;
        }
        .cardsWrapper.visible{
            gap: 20px;
            opacity: 1;
            display: flex;
            padding: 2% 5%;      
            flex-wrap: wrap;
            font-weight: 500;
            justify-content: center;
            transform: translateY(0);
        }
    }
}

@media (min-width: 426px) and (max-width: 768px){
    .experienceWrapper{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color:rgb(61, 55, 55);
        background-color: whitesmoke;
        h1{
            color: #2c2c6c;
        }
        p{
            font-size: small;
            font-weight: bold;
        }
        .cardsWrapper.visible{
            opacity: 1;
            gap: 5%;
            display: flex;
            padding: 2% 5%;
            flex-wrap: wrap;
            font-weight: 500;
            justify-content: center;
            transform: translateY(0);
        }
    }
}

@media (min-width: 769px) and (max-width: 2560px){
.experienceWrapper{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color:rgb(61, 55, 55);
    flex-direction: column;
    background-color: whitesmoke;
    h1{
        color: #2c2c6c;
    }
    .cardsWrapper.visible{
        gap: 5%;
        width: 70%;
        opacity: 1;
        margin: auto;
        display: flex;
        padding: 2% 5%;
        flex-wrap: wrap;
        font-weight: 500;
        justify-content: center;
        transform: translateY(0);
    }
}
}
  