.experienceWrapper{
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-in, transform 0.5s ease-in;
}
.experienceWrapper.visible{
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    margin: auto;
    display: flex;
    color:white;
    flex-direction: column;
    background-image: url("../../../public/Images/backgroundImage.png");
    h1{
        color: #2c2c6c;
    }
    .cardsWrapper{
        gap: 30px;
        display: flex;
        font-weight: 500;
        justify-content: center;
        .geekybugs{
            width: 35%;
            display: flex;
            padding: 20px;
            line-height: 23px;
            border-radius: 15px;
            flex-direction: column;
            border: 2px solid hsl(54, 99%, 54%);
            button{
                width: 30%;
                height: 15%;
                margin: auto;
                padding: 10px;
                color: white;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                background: transparent;
                border: 2px solid hsl(54, 99%, 54%);
                cursor: pointer;
            }
            &:hover{
                color: yellow;
                border: 2px solid #06662a;
                background-color: #06662a;
                box-shadow: #06662a 3px 3px 8px;
                button{
                    color: yellow;
                    border: 2px solid white;
                }
            }
        } 
        .exd{
            width: 35%;
            display: flex;
            padding: 20px;
            line-height: 23px;
            border-radius: 15px;
            flex-direction: column;
            border: 2px solid hsl(54, 99%, 54%);
            button{
                width: 40%;
                height: 15%;
                margin: auto;
                padding: 10px;
                color: white;
                font-size: 16px;
                margin-top: 10px;
                font-weight: bold;
                border-radius: 50px;
                background: transparent;
                border: 2px solid hsl(54, 99%, 54%);
                cursor: pointer;
            }
            &:hover{
                color: yellow;
                border: 2px solid #06662a;
                background-color: #06662a;
                box-shadow: #06662a 3px 3px 8px;
                button{
                    color: yellow;
                    border: 2px solid white;
                }
            }
        } 
    }
}